.starter-template {
  padding: 15px 15px;
  text-align: center;
}

img.top-image{
  width: 100%;
  object-fit: cover;
  aspect-ratio: auto 288/59;
}

#notify.toast{
  position: fixed;
  top:50%;
}

#notify .toast-header{
  background-color: #31d2f2;
}